<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
        <% include ./layouts/header %>
    </header>

    <header>
      <% include ./layouts/leftbar %>
  </header>

      <h2>admin</h2>

      <footer>
          <% include ./layouts/footer %>
      </footer>
  </body>
</html>
