<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
        <% include ./leftbar %>
    </header>
      <h2>admin</h2>

      <footer>
          <% include ../partials/footer %>
      </footer>
  </body>
</html>
